/*  your css code here. If applicable */
.middle{
	width:100%;
	margin:auto;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
table{
	border:1px solid black;
	border-spacing:1px;
	padding:1px;
}
td{
	border:1px solid black;
	padding:10px;
}
.img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}

