/*  your css code here. If applicable */
#head{
	text-align:center;
}
.middle{
	width:90%;
	margin:auto;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
table{
	border:1px solid black;
	border-spacing:1px;
}
td{
	border:1px solid black;
	padding:6px;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}

